<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/blackmask"><i class="fa fa-angle-double-right"></i>Black mask</a></li>
                    <li><a href="/beautymask"><i class="fa fa-angle-double-right"></i>Beautiful Masks</a></li>
                    <li><a href="/nuclearmask"><i class="fa fa-angle-double-right"></i>Nuclear Mask</a></li>
                    <li><a href="/medicalmask"><i class="fa fa-angle-double-right"></i>Medical Mask</a></li>
                </ul>
            </div>
            </i>Developed by Matthew</a></li>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2"target="">matt's mask</a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->